<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <ul>
    <% skills.forEach(function(skill) { %>
      <li>
        <form 
          action="/skills/<%= skill._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
        <a href="/skills/<%= skill._id %>"><%= skill.theSkill %></a>
          - 
        <%= skill.know ? 'done' : 'not done' %>
      </li>
    <% }) %>
  </ul>
  <a href="/skills/new">Add To-Do</a>
  <!-- create a link to show a form that our 
    user will create their new skill on -->
  <!-- when the form is submitted, add the skill
    to the fake skill db -->
</body>
</html>